<mdb-card>
  <!--Card content-->
  <mdb-card-body>
    <!--Text-->
    <mdb-card-text>
      <div class="cardContent" style="display: flex;justify-content: space-around;">
        <div class="left" style="margin-top: 10px;">
          <img src="../../../assets/images/Group.png" alt="">
        </div>
        <div class="right" style="margin-top: 15px;">
          <!-- <p class="text-center format">12</p> -->
          <p class="format">Alerts</p>
        </div>
      </div>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>

