mdb-card-body {
  background: #f2eff6;
  color: #000 !important;
  border-radius: 3px;
  border-radius: 4px;
  cursor: pointer;
}
p {
  color: #DC524F;
}
h4 {
  color: #fff !important;
}
.format {
  font-weight: bold;
  font-size: 1.3rem;
  color: #000;
}
