<div class="container-fluid">
  <div class="left">
    <img class="logo" src="../../assets/images/Logo.png" alt="">
    <img class="banner" src="../../assets/images/Digi-01.png" alt="">
    <h1>We transport your cargo </h1>
    <h1>Safely and Securely</h1>
  </div>

  <div class="right">
    <h2 style="color:aliceblue">Welcome!</h2>
    <form [formGroup]='loginForm' (ngSubmit)="login(loginForm.value)">
      <div class="uk-margin mt-0">
        <label style="color:aliceblue" class="uk-form-label" for="form-stacked-text" style="color: #fff">Email</label>
        <input class="uk-input border" type="email" placeholder="" style="color: #331832" formControlName="email">
      </div>
      <div class="uk-margin mt-0">
        <label style="color:aliceblue" class="uk-form-label" for="form-stacked-text" style="color: #fff">Password</label>
        <input class="uk-input border" type="password" placeholder="" style="color: #331832" formControlName="password">
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-create" [disabled]="loginForm.invalid" type="submit">Login</button>
      </div>
    </form>
    <h5 class="text-center mt-3" style="color:#fff">
      --------OR Track your cargo below----------
    </h5>
    <form [formGroup]="trackIdForm">
      <div class="uk-margin mt-0">
        <label style="color:aliceblue" class="uk-form-label" for="form-stacked-text" style="color: #fff">Tracking Id</label>
        <input class="uk-input border" type="email" placeholder="" style="color: #331832" formControlName="trackingId">
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-create" [disabled]="trackIdForm.invalid"  (click)="basicModal.show(); move()" type="submit">Track</button>
      </div>
    </form>
  </div>

  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Your Order's route</h4>
        </div>
        <div class="modal-body">
          <agm-map [latitude]="lat" [longitude]="lng" style="margin-top: 20px">
            <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
            <agm-polyline>
              <!-- <agm-marker *ngFor='let marker of markersToPlot'
                [latitude]="marker?.lat"
                [longitude]="marker?.lng"
              ></agm-marker> -->
              <agm-polyline-point *ngFor='let marker of markersToPlot' [latitude]="marker?.lat" [longitude]="marker?.lng"></agm-polyline-point>
            </agm-polyline>
          </agm-map>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
