.col-md-4 {
  margin-bottom: 45px;
}
mdb-card-title {
  text-align: center;
}
.container-fluid {
  height: 100vh;
  padding: 0px !important;
  // background: linear-gradient(148.38deg, #BEAEE0 32.19%, #5E4B87 69.81%);
  background: #FFFDFD;
  .col-md-2 {
    padding: 0px !important;
  }
}
h1 {
  padding-top: 100px;
}
